/* global */
$body-font-family: 'Roboto', sans-serif;
$line-height-root: 1.5;

/* headings */
$headings: (
    'h1': (
        'size': 1.875rem,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'h2': (
        'size': 1.625rem,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'h3': (
        'size': 1.375rem,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'h4': (
        'size': 1.25rem,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'h5': (
        'size': 1.125rem,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'h6': (
        'size': 1rem,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'subtitle-1': (
        'size': 1.25rem,
        'letter-spacing': 0,
    ),
    'subtitle-2': (
        'size': 1.125rem,
        'letter-spacing': 0,
    ),
    'body-1': (
        'letter-spacing': 0,
    ),
    'body-2': (
        'letter-spacing': 0,
    ),
);

/* buttons */
$btn-font-weight: 700;

/* colors */
$active-color: red;