<template>
    <div class="products">
        <v-simple-table>
            <template v-slot:default>
                <tbody>
                    <tr v-for="(product, index) in products" :key="index">
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <v-text-field
                                solo
                                type="number"
                                class="m-auto"
                                :value="product.num"
                                @input="changeNum($event, product)"
                                hide-details="false"
                                min="0"
                            ></v-text-field>
                        </td>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>
    </div>
</template>
<script>
export default {
    computed: {
        products() {
            return this.$store.getters.getProducts;
        },
    },
    methods: {
        changeNum(num, product) {
            this.$store.commit('changeProductNum', { num, product });
            this.$store.dispatch('recalculateTotal');
        },
    },
};
</script>
<style lang="scss" scoped>
</style>
