<template>
    <div class="total">Total: {{ total }}</div>
</template>

<script>
export default {
    computed: {
        total() {
            return this.$store.getters.getTotal;
        },
    },
};
</script>
<style lang="scss" scoped>
</style>
