<template>
    <nav>
        <router-link
            v-for="(item, index) in menu"
            :key="index"
            :to="item.route"
            class="menu-item"
        >
            {{ item.title }}
        </router-link>
    </nav>
</template>
<script>
export default {
    data() {
        return {
            menu: [
                { route: '/products', title: 'Products' },
                { route: '/total', title: 'Total' },
            ],
        };
    },
};
</script>

<style lang="scss" scoped>
    .menu-item {
        margin-right: 15px;
        color: var(--v-primary-base);
        &:last-child {
            margin-right: 0;
        }
    }
    .router-link-active {
        color: $active-color;
    }
</style>
